.vine-img {
  width: 800px;
  height: 300px;
  object-fit: cover;

  margin-left: auto;
  margin-right: auto;
  border-radius: 10px;
}

.separation-horizontal {
  border-top-width: 1px;
  border-top-style: solid;
}

p, h1, h2, h3, h4, h5, h6 {
  color: black;
}

.photo-profil {
  position: left;
  right: 540px;
  top: 10px;
  width: 80px;
  height: 80px;
}

.card-trip-show {
  overflow: hidden;
  border-radius: 10px;
}

.card-trip-show > img {
  height: 200px;
  width: 100%;
  object-fit: cover;
  border-radius: 10px;
}

.card-trip-show h2 {
  font-size: 16px;
  font-weight: bold;
  margin: 0;
}

.card-trip-show p {
  font-size: 12px;
  opacity: .7;
  margin: 0;
}


.card-trip-show .card-trip-infos-show {
  padding: 10px;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  position: relative;
  border-radius: 10px;
}

// .card-trip-infos-show .card-trip-user-show {
//   position: absolute;
//   right: 16px;
//   top: -20px;
//   width: 40px;
// }
