<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)),url(<%= asset_path('photo-banner-home.jpg')%>);">
  <h1><strong>Parce que l’unité fait le grain, parrainez une Grosse Grappe</strong></h1>
  <%# <a class="btn btn-primary ml-5" href="#">Rechercher ma grosse grappe</a> %>
</div>


<ul>
  <% @grapevines.each do |grapevine| %>
    <li><%= link_to grapevine.name, grapevine_path(grapevine)%>, <%= grapevine.area %></li>
  <% end %>
</ul>
<%= link_to "Créer une nouvelle vigne", new_grapevine_path %>
