.white-text-hoover {
  color: white;

  &:hover {
    color: #E90064;
  }
}

.white-text {
  color: white;
}

.bordeaux-text-hoover {
  color: #B3005E;

  &:hover {
    color: #E90064;
  }
}

.white-text-hoover-white {
  color: rgb(255, 255, 255);

  &:hover {
    color: #ffffff;
  }
}
