<ul>
  <% @grapevines.each do |grapevine| %>
    <li><%= link_to grapevine.name, grapevine_path(grapevine)%>, <%= grapevine.area %></li>
  <% end %>
</ul>

<%= link_to "Créer une nouvelle vigne", new_grapevine_path %>
